## Data loading and Model Training

In [3]:
import pandas as pd
import numpy as np

In [4]:
import keras
from keras.models import Model
from keras.layers import *
from keras import optimizers
from keras.layers import Input, Dense
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers import Flatten
from keras.layers.convolutional import Conv2D
from keras.layers.convolutional import MaxPooling2D
from keras.utils import np_utils

In [5]:
df_train=pd.read_csv("train_final.csv", index_col= None)
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
1,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,10
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10

In [6]:
#784 is the label column
labels=df_train["784"]

In [7]:
print(labels)

0        10
1        10
2        10
3        10
4        10
         ..
51137     9
51138     9
51139     9
51140     9
51141     9
Name: 784, Length: 51142, dtype: int64

In [8]:
df_train.drop(df_train.columns[[784]],axis=1,inplace=True)
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
np.random.seed(1212)

In [10]:
labels=np.array(labels)

In [11]:
from keras.utils.np_utils import to_categorical
cat=to_categorical(labels,num_classes=13)

In [12]:
print(cat[0])

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0.]

In [13]:
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
l=[]
for i in range(51142):
    l.append(np.array(df_train[i:i+1]).reshape(28,28,1))

In [15]:
model=Sequential()
model.add(Conv2D(30,(5,5),input_shape=(28,28,1),activation="relu"))
model.add(MaxPooling2D(pool_size=(2,2)))
model.add(Conv2D(15,(3,3),activation="relu"))
model.add(MaxPooling2D(pool_size=(2,2)))
model.add(Dropout(0.2))
model.add(Flatten())
model.add(Dense(128,activation="relu"))
model.add(Dense(50,activation="relu"))
model.add(Dense(13,activation="softmax"))

In [16]:
# Compile model
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [17]:
model.fit(np.array(l), cat, shuffle=True, epochs=10)

Epoch 1/10
1599/1599 [==============================] - 43s 11ms/step - loss: 1.1865 - accuracy: 0.7261
Epoch 2/10
1599/1599 [==============================] - 21s 13ms/step - loss: 0.1628 - accuracy: 0.9522
Epoch 3/10
1599/1599 [==============================] - 22s 14ms/step - loss: 0.1077 - accuracy: 0.9689
Epoch 4/10
1599/1599 [==============================] - 23s 14ms/step - loss: 0.0861 - accuracy: 0.9739
Epoch 5/10
1599/1599 [==============================] - 23s 15ms/step - loss: 0.0691 - accuracy: 0.9795
Epoch 6/10
1599/1599 [==============================] - 24s 15ms/step - loss: 0.0605 - accuracy: 0.9821
Epoch 7/10
1599/1599 [==============================] - 24s 15ms/step - loss: 0.0569 - accuracy: 0.9836
Epoch 8/10
1599/1599 [==============================] - 25s 16ms/step - loss: 0.0446 - accuracy: 0.9861
Epoch 9/10
1599/1599 [==============================] - 25s 16ms/step - loss: 0.0427 - accuracy: 0.9873
Epoch 10/10
1599/1599 [==============================] - 26s 16ms/step - loss: 0.0402 - accuracy: 0.9880

In [18]:
model.fit(np.array(l), cat, epochs=10, batch_size=200,shuffle=True)

Epoch 1/10
256/256 [==============================] - 23s 88ms/step - loss: 0.0215 - accuracy: 0.9938
Epoch 2/10
256/256 [==============================] - 21s 82ms/step - loss: 0.0124 - accuracy: 0.9963
Epoch 3/10
256/256 [==============================] - 20s 79ms/step - loss: 0.0097 - accuracy: 0.9971
Epoch 4/10
256/256 [==============================] - 21s 83ms/step - loss: 0.0092 - accuracy: 0.99721s - loss:
Epoch 5/10
256/256 [==============================] - 20s 80ms/step - loss: 0.0083 - accuracy: 0.9976 ETA
Epoch 6/10
256/256 [==============================] - 20s 78ms/step - loss: 0.0079 - accuracy: 0.9979
Epoch 7/10
256/256 [==============================] - 20s 78ms/step - loss: 0.0076 - accuracy: 0.9978
Epoch 8/10
256/256 [==============================] - 20s 79ms/step - loss: 0.0082 - accuracy: 0.9977
Epoch 9/10
256/256 [==============================] - 20s 80ms/step - loss: 0.0087 - accuracy: 0.9972
Epoch 10/10
256/256 [==============================] - 21s 81ms/step - loss: 0.0086 - accuracy: 0.9973

In [22]:
import cv2

img=cv2.imread("C:/Users/safau/ML Project-Handwritten_Equation_Solver/data/test/test2.png",cv2.IMREAD_GRAYSCALE)
cv2.imshow("w",img)
cv2.waitKey(0)
cv2.destroyAllWindows()
if img is not None:
    img=~img
    _,thresh=cv2.threshold(img,127,255,cv2.THRESH_BINARY)
    ctrs,_=cv2.findContours(thresh,cv2.RETR_TREE,cv2.CHAIN_APPROX_SIMPLE)
    cnt=sorted(ctrs,key=lambda ctr:cv2.boundingRect(ctr)[0])
    w=int(28)
    h=int(28)
    train_data=[]
    rects=[]
    for c in cnt:
        x,y,w,h=cv2.boundingRect(c)
        rect=[x,y,w,h]
        rects.append(rect)
    print("rects",rects)
    bool_rect=[]
    for r in rects:
        l=[]
        for rec in rects:
            flag=0
            if rec!=r:
                if r[0]<(rec[0]+rec[2]+10) and rec[0]<(r[0]+r[2]+10) and r[1]<(rec[1]+rec[3]+10) and rec[1]<(r[1]+r[3]+10):
                    flag=1
                l.append(flag)
            if rec==r:
                l.append(0)
        bool_rect.append(l)
    print("bools",bool_rect)
    dump_rect=[]
    for i in range(0,len(cnt)):
        for j in range(0,len(cnt)):
            if bool_rect[i][j]==1:
                area1=rects[i][2]*rects[i][3]
                area2=rects[j][2]*rects[j][3]
                if(area1==min(area1,area2)):
                    dump_rect.append(rects[i])
    print("dump_rects",dump_rect)
    final_rects=[i for i in rects if i not in dump_rect]
    print("final_rects",final_rects)
    for r in final_rects:
        x=r[0]
        y=r[1]
        w=r[2]
        h=r[3]
        im_crop=thresh[y:y+h+10,x:x+w+10]
        im_resize=cv2.resize(im_crop,(28,28))
        cv2.imshow("work",im_resize)
        cv2.waitKey(0)
        cv2.destroyAllWindows()
        train_data.append(im_resize)

rects [[92, 84, 101, 118], [273, 102, 90, 81], [464, 77, 83, 117]]
bools [[0, 0, 0], [0, 0, 0], [0, 0, 0]]
dump_rects []
final_rects [[92, 84, 101, 118], [273, 102, 90, 81], [464, 77, 83, 117]]

In [20]:
s=""
for i in range (len(train_data)):
    train_data[i] = np.array(train_data[i])
    train_data[i] = train_data[i].reshape(1,28,28,1)
    result = model.predict_classes(train_data[i])
    if (result[0]==10):
        s = s+'-'
    if (result[0]==11):
        s = s+'+'
    if (result[0]==12):
        s = s+'*'
    if (result[0]==0):
        s = s+'0'    
    if (result[0]==1):
        s = s+'1'
    if (result[0]==2):
        s = s+'2'
    if (result[0]==3):
        s = s+'3'
    if (result[0]==4):
        s = s+'4'
    if (result[0]==5):
        s = s+'5'
    if (result[0]==6):
        s = s+'6'
    if (result[0]==7):
        s = s+'7'
    if (result[0]==8):
        s = s+'8'
    if (result[0]==9):
        s = s+'9'    
print(s)

C:\Users\safau\anaconda3\lib\site-packages\keras\engine\sequential.py:450: UserWarning: `model.predict_classes()` is deprecated and will be removed after 2021-01-01. Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).
  warnings.warn('`model.predict_classes()` is deprecated and '

2+5

In [21]:
eval(s)

7